In [1]:
# import libararies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Write a Pandas program to compare the elements of two Pandas series. 
# Create the two series
x = pd.Series([4, 65, 436, 3, 9])
y = pd.Series([7, 0, 3, 897, 9])
# Compare the elements of the two series
comparison = x == y
# Print the comparison result
print(comparison)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [3]:
# Write a Pandas program to add, subtract, multiply and divide two Pandas series. 
# Create the two series
a = pd.Series([2, 4, 6, 8, 14])
b = pd.Series([1, 3, 5, 7, 9])
# Addition
addition = a + b
print("Addition:")
print(addition)
# Subtraction
subtraction = a - b
print("\nSubtraction:")
print(subtraction)
# Multiplication
multiplication = a * b
print("\nMultiplication:")
print(multiplication)
# Division
division = a / b
print("\nDivision:")
print(division)

Addition:
0     3
1     7
2    11
3    15
4    23
dtype: int64

Subtraction:
0    1
1    1
2    1
3    1
4    5
dtype: int64

Multiplication:
0      2
1     12
2     30
3     56
4    126
dtype: int64

Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [4]:
# Write a Pandas program to convert a dictionary to a Pandas series. 
# Sample dictionary
dicti = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
# Convert the dictionary to a Pandas Series
s = pd.Series(dicti)
# Print the resulting Pandas Series
print(s)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [5]:
# Write a Pandas program to convert a given series to an array.
# Sample series
g = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])
# Convert the series to an array
h = np.array(g)
# Print the resulting array
print(h)

['Love' 800 'Joy' 789.9 'Peace' True]

In [6]:
# Write a Pandas program to display the most frequent value in the given series 
# and replace everything else as ‘Other’ in the series.
df=pd.read_csv("AfricaCupofNationsMatches.csv")
# Calculate the most frequent value
most_frequent_value = df['HomeTeamGoals'].mode()[0]
# Replace everything else as 'Other'
df['HomeTeamGoals'] = df['HomeTeamGoals'].where(df['HomeTeamGoals'] == most_frequent_value, 'Other')
# Print the modified series
print(df['HomeTeamGoals'])

0        1.0
1      Other
2      Other
3      Other
4        1.0
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 622, dtype: object

# DataFrames

In [7]:
# Write a Pandas program to read the given csv file
df=pd.read_csv("AfricaCupofNationsMatches.csv")
df

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0

In [8]:
# Write a Pandas program to get the first 7 rows of your data frame.
first_7_rows = df.head(7)
# Print the first 7 rows
print(first_7_rows)

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

In [9]:
# Write a Pandas program to select the ‘HomeTeam’, ‘AwayTeam’, ‘HomeTeamGoals’ 
#and ‘AwayTeamGoals’ columns from your data frame.
# Select the desired columns
selected_columns = df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]
# Print the selected columns
print(selected_columns)

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

In [10]:
# Write a Pandas program to select the rows where Egypt appears
# Select rows where 'Egypt' appears
selected_rows = df[df.eq('Egypt').any(axis=1)]
# Print the selected rows
print(selected_rows)

    Year      Date  Time    HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
3   1959  22-May-59   NaN      Egypt   Ethiopia            4.0            0.0
5   1959  29-May-59   NaN      Egypt      Sudan            2.0            1.0
7   1962  18-Jan-62   NaN      Egypt     Uganda            2.0            1.0
9   1962  21-Jan-62   NaN  Ethiopia       Egypt            4.0            2.0
13  1963  24-Nov-63   NaN      Egypt    Nigeria            6.0            3.0
14  1963  26-Nov-63   NaN      Egypt      Sudan            2.0            2.0
16  1963  30-Nov-63   NaN      Egypt   Ethiopia            3.0            0.0

                Stage    SpecialWinConditions                 Stadium  \
3    Final Tournament                     NaN   Prince Farouk Stadium
5    Final Tournament                     NaN   Prince Farouk Stadium
7          Semifinals                     NaN  Hailé Sélassié Stadium
9               Final   win after extra time   Hailé Sélassié Stadium
13            Group B                     NaN   Kumasi Sports Stadium
14            Group B                     NaN   Kumasi Sports Stadium
16  Third place match                     NaN    Accra Sports Stadium

            City  Attendance
3          Cairo     30000.0
5          Cairo     30000.0
7    Addis Ababa     30000.0
9    Addis Ababa         NaN
13        Kumasi         NaN
14        Kumasi         NaN
16         Accra         NaN

In [11]:
# Write a Pandas program to count the number of rows and columns of your data frame.
# Count the number of rows and columns
num_rows = df.shape[0]
num_columns = df.shape[1]
# Print the number of rows and columns
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 622
Number of columns: 12

In [12]:
# Write a Pandas program to select the rows where the ‘Attendance’ is missing.
# Select rows where 'Attendance' is missing
select = df[df['Attendance'].isna()]
# Print the selected rows
print(select)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

In [13]:
# Write a Pandas program to select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.
# Select rows where 'HomeTeamGoals' is between 3 and 6 (inclusive)
ng = df[(df['HomeTeamGoals'] >= 3) & (df['HomeTeamGoals'] <= 6)]
# Print the selected rows
print(ng)

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]

In [14]:
# Write a Pandas program to change the “AwayTeamGoals” in the 3rd row to 10.
df.at[2, "AwayTeamGoals"] = 10
# Print the updated DataFrame
print(df.head(3))

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0

   AwayTeamGoals       Stage  \
0            2.0  Semifinals
1            NaN  Semifinals
2           10.0       Final

                                SpecialWinConditions            Stadium  \
0                                                NaN  Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                NaN
2                                                NaN  Municipal Stadium

        City  Attendance
0   Khartoum     30000.0
1        NaN         NaN
2   Khartoum     30000.0

In [15]:
# Write a Pandas program to sort the DataFrame first by ‘HomeTeam’ in
# ascending order, then by ‘HomeTeamScores’ in descending order.
df1 = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])
# Print the sorted DataFrame
print(df1)

     Year                         Date           Time    HomeTeam  \
205  1990                      2-Mar-90            NaN   Algeria
29   1968                     14-Jan-68            NaN   Algeria
135  1980                     16-Mar-80            NaN   Algeria
164  1984                      5-Mar-84            NaN   Algeria
171  1984                     17-Mar-84            NaN   Algeria
..    ...                           ...            ...        ...
521  2012                     12-Feb-12  20:30[note 1]    Zambia
549  2017  23 January 2017 (2017-01-23)          20:00  Zimbabwe
398  2004                     25-Jan-04          16:30  Zimbabwe
437  2006                     23-Jan-06          20:00  Zimbabwe
575  2019     30 June 2019 (2019-06-30)          21:00  Zimbabwe

         AwayTeam  HomeTeamGoals  AwayTeamGoals              Stage  \
205       Nigeria            5.0            1.0            Group A
29         Uganda            4.0            0.0            Group A
135        Guinea            3.0            2.0            Group B
164        Malawi            3.0            0.0            Group B
171         Egypt            3.0            1.0  Third place match
..            ...            ...            ...                ...
521   Ivory Coast            0.0            0.0              Final
549       Tunisia            2.0            4.0            Group B
398         Egypt            1.0            2.0            Group C
437       Senegal            0.0            2.0            Group D
575      DR Congo            0.0            4.0            Group A

              SpecialWinConditions                       Stadium  \
205                            NaN          Stade 5 Juillet 1962
29                             NaN        Hailé Sélassié Stadium
135                            NaN               Liberty Stadium
164                            NaN                  Stade Bouaké
171                            NaN  Stade Félix Houphouët-Boigny
..                             ...                           ...
521  Zambia  win on Penalities 8-7              Stade d'Angondjé
549                            NaN             Stade de l'Amitié
398                            NaN          Stade Taïeb El Mhiri
437                            NaN             Port Said Stadium
575                            NaN               30 June Stadium

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0
..            ...         ...
521    Libreville     40000.0
549    Libreville         NaN
398          Sfax     22000.0
437     Port Said     15000.0
575         Cairo      4364.0

[622 rows x 12 columns]

In [16]:
# Write a Pandas program to get list from DataFrame column headers.
# Get the column headers as a list
column_headers = df.columns.tolist()
# Print the column headers
print(column_headers)

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [17]:
# Write a Pandas program to append a column of your choice to your DataFrame.
# Create a new column
new_column = [100, 200, 300, 400, 500] 
# Convert the new column to a DataFrame
new_column_df = pd.DataFrame({'NewColumn': new_column})
# Concatenate the new column with the original DataFrame
df2 = pd.concat([df, new_column_df], axis=1)
# Print the updated DataFrame
print(df2)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance  NewColumn
0              Municipal Stadium   Khartoum     30000.0      100.0
1                            NaN        NaN         NaN      200.0
2              Municipal Stadium   Khartoum     30000.0      300.0
3          Prince Farouk Stadium      Cairo     30000.0      400.0
4          Prince Farouk Stadium      Cairo     20000.0      500.0
..                           ...        ...         ...        ...
617             Al Salam Stadium      Cairo      7568.0        NaN
618              30 June Stadium      Cairo      9143.0        NaN
619  Cairo International Stadium      Cairo     49775.0        NaN
620             Al Salam Stadium      Cairo      6340.0        NaN
621  Cairo International Stadium      Cairo     75000.0        NaN

[622 rows x 13 columns]

In [18]:
# Write a Pandas program to add 2 rows to your DataFrame.
# Create new rows as a DataFrame
new_rows = pd.DataFrame({'Year': [1989, 1999], 'City': ["Cuba", "Kampala"], 'HomeTeam': ["Ethiopia", "Sudan"]})
# Concatenate the new rows with the original DataFrame
df3 = pd.concat([df, new_rows], ignore_index=True)
# Print the updated DataFrame
print(df3)

     Year                      Date   Time    HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN     Sudan           Egypt
1    1957                  10-Feb-57    NaN  Ethiopia    South Africa
2    1957                  16-Feb-57    NaN     Egypt        Ethiopia
3    1959                  22-May-59    NaN      Egypt       Ethiopia
4    1959                  25-May-59    NaN     Sudan        Ethiopia
..    ...                        ...    ...        ...            ...
619  2019  14 July 2019 (2019-07-14)  21:00   Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00   Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00   Senegal         Algeria
622  1989                        NaN    NaN   Ethiopia            NaN
623  1999                        NaN    NaN      Sudan            NaN

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final
622            NaN            NaN                   NaN
623            NaN            NaN                   NaN

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
619                                                NaN
620                                                NaN
621                                                NaN
622                                                NaN
623                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0
622                          NaN       Cuba         NaN
623                          NaN    Kampala         NaN

[624 rows x 12 columns]

In [19]:
# Write a Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.
df.loc[df['AwayTeam'] == 'Uganda', 'AwayTeam'] = 'China'
# Print the updated DataFrame
print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 12 columns]

In [20]:
# Write a Pandas program to reset index in your DataFrame
df4 = df.reset_index(drop=True)
# Print the updated DataFrame
print(df4)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 12 columns]

In [21]:
# Write a Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.
if 'Stadium' in df.columns:
    print("The 'Stadium' column is present in the DataFrame.")
else:
    print("The 'Stadium' column is not present in the DataFrame.")

The 'Stadium' column is present in the DataFrame.

In [22]:
# Write a Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)
# Print the updated DataFrame
print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 12 columns]

In [23]:
# Write a Pandas program to remove the last 10 rows from your DataFrame.
df5 = df[:-10]
# Print the updated DataFrame
print(df5)

     Year                     Date   Time      HomeTeam       AwayTeam  \
0    1957                 10-Feb-57    NaN       Sudan           Egypt
1    1957                 10-Feb-57    NaN    Ethiopia    South Africa
2    1957                 16-Feb-57    NaN       Egypt        Ethiopia
3    1959                 22-May-59    NaN        Egypt       Ethiopia
4    1959                 25-May-59    NaN       Sudan        Ethiopia
..    ...                       ...    ...          ...            ...
607  2019  5 July 2019 (2019-07-05)  21:00      Uganda         Senegal
608  2019  6 July 2019 (2019-07-06)  18:00     Nigeria        Cameroon
609  2019  6 July 2019 (2019-07-06)  21:00       Egypt    South Africa
610  2019  7 July 2019 (2019-07-07)  18:00  Madagascar        DR Congo
611  2019  7 July 2019 (2019-07-07)  21:00     Algeria          Guinea

     HomeTeamGoals  AwayTeamGoals             Stage  \
0              1.0            2.0        Semifinals
1              NaN            NaN        Semifinals
2              4.0           10.0             Final
3              4.0            0.0  Final Tournament
4              1.0            0.0  Final Tournament
..             ...            ...               ...
607            0.0            1.0       Round of 16
608            3.0            2.0       Round of 16
609            0.0            1.0       Round of 16
610            2.0            2.0       Round of 16
611            3.0            0.0       Round of 16

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
607                                                NaN
608                                                NaN
609                                                NaN
610                  Madagascar  win on Penalities 4-2
611                                                NaN

                         Stadium         City  Attendance
0              Municipal Stadium     Khartoum     30000.0
1                            NaN          NaN         NaN
2              Municipal Stadium     Khartoum     30000.0
3          Prince Farouk Stadium        Cairo     30000.0
4          Prince Farouk Stadium        Cairo     20000.0
..                           ...          ...         ...
607  Cairo International Stadium        Cairo      6950.0
608           Alexandria Stadium   Alexandria     10000.0
609  Cairo International Stadium        Cairo     75000.0
610           Alexandria Stadium   Alexandria      5890.0
611              30 June Stadium        Cairo      8205.0

[612 rows x 12 columns]

In [24]:
# Write a Pandas program to iterate over rows in your DataFrame.
for index, row in df.iterrows():
    # Access row data using row['column_name']
    print(row['Year'], row['City'], row['HomeTeam'])

1957  Khartoum Sudan
1957 nan Ethiopia
1957  Khartoum Egypt
1959  Cairo Egypt
1959  Cairo Sudan
1959  Cairo Egypt
1962  Addis Ababa Ethiopia
1962  Addis Ababa Egypt
1962  Addis Ababa Tunisia
1962  Addis Ababa Ethiopia
1963  Accra Ghana
1963  Accra Ghana
1963  Accra Ethiopia
1963  Kumasi Egypt
1963  Kumasi Egypt
1963  Kumasi Sudan
1963  Accra Egypt
1963  Accra Ghana
1965  Tunis Tunisia
1965  Tunis Senegal
1965  Tunis Senegal
1965  Sousse Ghana
1965  Sfax Ivory Coast
1965  Bizerte Ghana
1965  Tunis Senegal
1965  Tunis Ghana
1968  Addis Ababa Ethiopia
1968  Addis Ababa Ivory Coast
1968  Addis Ababa Ethiopia
1968  Addis Ababa Algeria
1968  Addis Ababa Ivory Coast
1968  Addis Ababa Ethiopia
1968  Asmara Ghana
1968  Asmara Congo-Kinshasa
1968  Asmara Senegal
1968  Asmara Ghana
1968  Asmara Congo-Kinshasa
1968  Asmara Ghana
1968  Addis Ababa Ethiopia
1968  Asmara Ghana
1968  Addis Ababa Ivory Coast
1968  Addis Ababa Congo-Kinshasa
1970  Khartoum Cameroon
1970  Khartoum Sudan
1970  Khartoum Cameroon
1970  Khartoum Ivory Coast
1970  Khartoum Ivory Coast
1970  Khartoum Sudan
1970  Wad Medani Ghana
1970  Wad Medani United Arab Rep.
1970  Wad Medani Congo-Kinshasa
1970  Wad Medani United Arab Rep.
1970  Wad Medani Guinea
1970  Wad Medani United Arab Rep.
1970  Khartoum Ivory Coast
1970  Khartoum United Arab Rep.
1970  Khartoum United Arab Rep.
1970  Khartoum Sudan
1972  Yaoundé Cameroon
1972  Yaoundé Mali
1972  Yaoundé Mali
1972  Yaoundé Cameroon
1972  Yaoundé Togo
1972  Yaoundé Cameroon
1972  Douala Congo
1972  Douala Zaire
1972  Douala Morocco
1972  Douala Zaire
1972  Douala Morocco
1972  Douala Congo
1972  Yaoundé Cameroon
1972  Douala Zaire
1972  Yaoundé Cameroon
1972  Yaoundé Congo
1974  Cairo Egypt
1974  El-Mahalla El-Kubra Zambia
1974  Cairo Egypt
1974  El-Mahalla El-Kubra Ivory Coast
1974  Cairo Egypt
1974  El-Mahalla El-Kubra Zambia
1974  Damanhour Zaire
1974  Alexandria Congo
1974  Damanhour Guinea
1974  Alexandria Congo
1974  Alexandria Congo
1974  Damanhour Zaire
1974  Cairo Egypt
1974  Alexandria Congo
1974  Cairo Congo
1974  Cairo Zaire
1974  Cairo Zaire
1976  Addis Ababa Ethiopia
1976  Addis Ababa Egypt
1976  Addis Ababa Egypt
1976  Addis Ababa Ethiopia
1976  Addis Ababa Guinea
1976  Addis Ababa Ethiopia
1976  Dire Dawa Nigeria
1976  Dire Dawa Morocco
1976  Dire Dawa Nigeria
1976  Dire Dawa Morocco
1976  Dire Dawa Morocco
1976  Dire Dawa Zaire
1976  Addis Ababa Guinea
1976  Addis Ababa Morocco
1976  Addis Ababa Morocco
1976  Addis Ababa Guinea
1976  Addis Ababa Nigeria
1976  Addis Ababa Guinea
1978  Accra Ghana
1978  Accra Nigeria
1978  Accra Zambia
1978  Accra Nigeria
1978  Accra Zambia
1978  Accra Ghana
1978  Kumasi Morocco
1978  Kumasi Uganda
1978  Kumasi Tunisia
1978  Kumasi Morocco
1978  Kumasi Congo
1978  Kumasi Uganda
1978  Accra Ghana
1978  Kumasi Uganda
1978  Accra Nigeria
1978  Accra Ghana
1980  Lagos Nigeria
1980  Lagos Egypt
1980  Lagos Egypt
1980  Lagos Nigeria
1980  Lagos Ivory Coast
1980  Lagos Nigeria
1980  Ibadan Ghana
1980  Ibadan Morocco
1980  Ibadan Algeria
1980  Ibadan Ghana
1980  Ibadan Algeria
1980  Ibadan Morocco
1980  Lagos Nigeria
1980  Ibadan Algeria
1980  Lagos Morocco
1980  Lagos Nigeria
1982  Tripoli Libya
1982  Tripoli Cameroon
1982  Tripoli Cameroon
1982  Tripoli Libya
1982  Tripoli Ghana
1982  Tripoli Libya
1982  Benghazi Nigeria
1982  Benghazi Algeria
1982  Benghazi Zambia
1982  Benghazi Algeria
1982  Benghazi Algeria
1982  Benghazi Zambia
1982  Benghazi Ghana
1982  Tripoli Libya
1982  Tripoli Zambia
1982  Tripoli Ghana
1984  Abidjan Ivory Coast
1984  Abidjan Egypt
1984  Abidjan Cameroon
1984  Abidjan Ivory Coast
1984  Abidjan Egypt
1984  Abidjan Ivory Coast
1984  Bouaké Ghana
1984  Bouaké Algeria
1984  Bouaké Malawi
1984  Bouaké Algeria
1984  Bouaké Algeria
1984  Bouaké Ghana
1984  Abidjan Egypt
1984  Bouaké Algeria
1984  Abidjan Algeria
1984  Abidjan Cameroon
1986  Cairo Senegal
1986  Cairo Ivory Coast
1986  Cairo Senegal
1986  Cairo Egypt
1986  Cairo Ivory Coast
1986  Cairo Egypt
1986  Alexandria Algeria
1986  Alexandria Cameroon
1986  Alexandria Algeria
1986  Alexandria Cameroon
1986  Alexandria Morocco
1986  Alexandria Cameroon
1986  Alexandria Cameroon
1986  Cairo Egypt
1986  Cairo Ivory Coast
1986  Cairo Egypt
1988  Casablanca Morocco
1988  Casablanca Ivory Coast
1988  Casablanca Ivory Coast
1988  Casablanca Morocco
1988  Casablanca Algeria
1988  Casablanca Morocco
1988  Rabat Cameroon
1988  Rabat Nigeria
1988  Rabat Cameroon
1988  Rabat Egypt
1988  Rabat Cameroon
1988  Rabat Nigeria
1988  Rabat Nigeria
1988  Casablanca Morocco
1988  Casablanca Morocco
1988  Casablanca Cameroon
1990  Algiers Algeria
1990  Algiers Ivory Coast
1990  Algiers Nigeria
1990  Algiers Algeria
1990  Algiers Nigeria
1990  Algiers Algeria
1990  Annaba Zambia
1990  Annaba Senegal
1990  Annaba Zambia
1990  Annaba Senegal
1990  Annaba Zambia
1990  Annaba Cameroon
1990  Annaba Zambia
1990  Algiers Algeria
1990  Algiers Zambia
1990  Algiers Algeria
1992  Dakar Nigeria
1992  Dakar Nigeria
1992  Dakar Senegal
1992  Dakar Cameroon
1992  Dakar Morocco
1992  Dakar Cameroon
1992  Ziguinchor Ivory Coast
1992  Ziguinchor Ivory Coast
1992  Ziguinchor Algeria
1992  Ziguinchor Zambia
1992  Ziguinchor Ghana
1992  Ziguinchor Ghana
1992  Dakar Nigeria
1992  Dakar Cameroon
1992  Dakar Ivory Coast
1992  Dakar Ghana
1992  Dakar Ghana
1992  Dakar Cameroon
1992  Dakar Nigeria
1992  Dakar Ivory Coast
1994  Tunis Tunisia
1994  Tunis Mali
1994  Tunis Tunisia
1994  Tunis Nigeria
1994  Tunis Egypt
1994  Tunis Nigeria
1994  Sousse Ivory Coast
1994  Sousse Zambia
1994  Sousse Zambia
1994  Sousse Ghana
1994  Sousse Senegal
1994  Sousse Ghana
1994  Tunis Zaire
1994  Tunis Egypt
1994  Sousse Zambia
1994  Sousse Ghana
1994  Tunis Nigeria
1994  Tunis Zambia
1994  Tunis Ivory Coast
1994  Tunis Nigeria
1996  Johannesburg South Africa
1996  Johannesburg Egypt
1996  Johannesburg Cameroon
1996  Johannesburg South Africa
1996  Johannesburg South Africa
1996  Durban Angola
1996  Bloemfontein Zambia
1996  Bloemfontein Sierra Leone
1996  Bloemfontein Algeria
1996  Bloemfontein Zambia
1996  Port Elizabeth Algeria
1996  Bloemfontein Zambia
1996  Durban Gabon
1996  Durban Gabon
1996  Johannesburg Zaire
1996  Port Elizabeth Ghana
1996  Port Elizabeth Tunisia
1996  Port Elizabeth Ghana
1996  Port Elizabeth Ivory Coast
1996  Port Elizabeth Tunisia
1996  Bloemfontein Ghana
1996  Johannesburg South Africa
1996  Bloemfontein Zambia
1996  Durban Gabon
1996  Port Elizabeth Ghana
1996  Johannesburg South Africa
1996  Durban Zambia
1996  Johannesburg Ghana
1996  Johannesburg South Africa
1998  Ouagadougou Burkina Faso
1998  Ouagadougou Algeria
1998  Ouagadougou Cameroon
1998  Ouagadougou Burkina Faso
1998  Ouagadougou Burkina Faso
1998  Ouagadougou Cameroon
1998  Ouagadougou DR Congo
1998  Ouagadougou Ghana
1998  Ouagadougou Tunisia
1998  Ouagadougou Togo
1998  Ouagadougou DR Congo
1998  Ouagadougou Tunisia
1998  Bobo-Dioulasso South Africa
1998  Bobo-Dioulasso Ivory Coast
1998  Bobo-Dioulasso Ivory Coast
1998  Bobo-Dioulasso Angola
1998  Ouagadougou Ivory Coast
1998  Bobo-Dioulasso South Africa
1998  Bobo-Dioulasso Morocco
1998  Bobo-Dioulasso Egypt
1998  Bobo-Dioulasso Egypt
1998  Bobo-Dioulasso Morocco
1998  Bobo-Dioulasso Zambia
1998  Ouagadougou Morocco
1998  Bobo-Dioulasso Cameroon
1998  Ouagadougou Tunisia
1998  Ouagadougou Ivory Coast
1998  Ouagadougou Morocco
1998  Ouagadougou DR Congo
1998  Bobo-Dioulasso Burkina Faso
1998  Ouagadougou DR Congo
1998  Ouagadougou South Africa
2000  Accra Ghana
2000  Accra Ivory Coast
2000  Accra Ghana
2000  Accra Cameroon
2000  Accra Ghana
2000  Kumasi Cameroon
2000  Kumasi South Africa
2000  Kumasi DR Congo
2000  Kumasi South Africa
2000  Kumasi Algeria
2000  Kumasi South Africa
2000  Accra DR Congo
2000  Kano Egypt
2000  Kano Burkina Faso
2000  Kano Egypt
2000  Kano Zambia
2000  Kano Egypt
2000  Lagos Zambia
2000  Lagos Nigeria
2000  Lagos Morocco
2000  Lagos Nigeria
2000  Lagos Tunisia
2000  Lagos Nigeria
2000  Kano Tunisia
2000  Accra Cameroon
2000  Kumasi South Africa
2000  Kano Egypt
2000  Lagos Nigeria
2000  Lagos Nigeria
2000  Accra Cameroon
2000  Accra South Africa
2000  Lagos Nigeria
2002  Bamako Mali
2002  Bamako Algeria
2002  Bamako Mali
2002  Bamako Liberia
2002  Bamako Mali
2002  Mopti Liberia

2002  Ségou South Africa
2002  Ségou Morocco
2002  Ségou South Africa
2002  Ségou Burkina Faso
2002  Ségou South Africa
2002  Mopti Burkina Faso
2002  Sikasso Cameroon
2002  Sikasso Togo
2002  Sikasso Cameroon
2002  Sikasso DR Congo
2002  Sikasso Cameroon
2002  Kayes DR Congo
2002  Bamako Egypt
2002  Bamako Zambia
2002  Bamako Egypt
2002  Bamako Senegal
2002  Bamako Egypt
2002  Kayes Senegal
2002  Kayes South Africa
2002  Bamako Nigeria
2002  Sikasso Cameroon
2002  Bamako Senegal
2002  Bamako Nigeria
2002  Bamako Mali
2002  Mopti Nigeria
2002  Bamako Senegal
2004  Radès Tunisia
2004  Tunis DR Congo
2004  Bizerte Rwanda
2004  Radès Tunisia
2004  Radès Tunisia
2004  Bizerte Rwanda
2004  Bizerte Kenya
2004  Tunis Senegal
2004  Bizerte Senegal
2004  Tunis Burkina Faso
2004  Tunis Senegal
2004  Bizerte Burkina Faso
2004  Sfax Zimbabwe
2004  Sousse Cameroon
2004  Sfax Cameroon
2004  Sousse Algeria
2004  Monastir Cameroon
2004  Sousse Algeria
2004  Monastir Nigeria
2004  Sfax South Africa
2004  Monastir Nigeria
2004  Sfax Morocco
2004  Sousse Morocco
2004  Sfax Nigeria
2004  Tunis Mali
2004  Rades Tunisia
2004  Monastir Cameroon
2004  Sfax Morocco
2004  Radès Tunisia
2004  Sousse Morocco
2004  Monastir Nigeria
2004  Radès Tunisia
2006  Cairo Egypt
2006  Cairo Morocco
2006  Cairo Libya
2006  Cairo Egypt
2006  Cairo Egypt
2006  Cairo Libya
2006  Cairo Cameroon
2006  Cairo Togo
2006  Cairo Angola
2006  Cairo Cameroon
2006  Cairo Angola
2006  Cairo Cameroon
2006  Alexandria Tunisia
2006  Alexandria South Africa
2006  Alexandria Zambia
2006  Alexandria Tunisia
2006  Alexandria Tunisia
2006  Alexandria Zambia
2006  Port Said Nigeria
2006  Port Said Zimbabwe
2006  Port Said Ghana
2006  Port Said Nigeria
2006  Port Said Nigeria
2006  Ismailia Ghana
2006  Alexandria Guinea
2006  Cairo Egypt
2006  Port Said Nigeria
2006  Cairo Cameroon
2006  Cairo Egypt
2006  Alexandria Nigeria
2006  Cairo Senegal
2006  Cairo Egypt
2008  Accra Ghana
2008  Accra Namibia
2008  Accra Guinea
2008  Accra Ghana
2008  Accra Ghana
2008  Sekondi-Takoradi Guinea
2008  Sekondi-Takoradi Nigeria
2008  Sekondi-Takoradi Mali
2008  Sekondi-Takoradi Ivory Coast
2008  Sekondi-Takoradi Nigeria
2008  Sekondi-Takoradi Nigeria
2008  Accra Ivory Coast
2008  Kumasi Egypt
2008  Kumasi Sudan
2008  Kumasi Cameroon
2008  Kumasi Egypt
2008  Tamale Cameroon
2008  Kumasi Egypt
2008  Tamale Tunisia
2008  Tamale South Africa
2008  Tamale Senegal
2008  Tamale Tunisia
2008  Kumasi Senegal
2008  Tamale Tunisia
2008  Accra Ghana
2008  Sekondi Ivory Coast
2008  Kumasi Egypt
2008  Tamale Tunisia
2008  Accra Ghana
2008  Kumasi Ivory Coast
2008  Kumasi Ghana
2008  Accra Cameroon
2010  Luanda Angola
2010  Luanda Malawi
2010  Luanda Mali
2010  Luanda Angola
2010  Luanda Angola
2010  Cabinda Mali
2010  Cabinda Ivory Coast
2010 nan Ghana
2010 nan Burkina Faso
2010  Cabinda Ivory Coast
2010  Luanda Burkina Faso
2010 nan Ivory Coast
2010  Benguela Egypt
2010  Benguela Mozambique
2010  Benguela Nigeria
2010  Benguela Egypt
2010  Benguela Egypt
2010  Lubango Nigeria
2010  Lubango Cameroon
2010  Lubango Zambia
2010  Lubango Gabon
2010  Lubango Cameroon
2010  Benguela Gabon
2010  Lubango Cameroon
2010  Luanda Angola
2010  Cabinda Ivory Coast
2010  Benguela Egypt
2010  Lubango Zambia
2010  Luanda Ghana
2010  Benguela Algeria
2010  Benguela Nigeria
2010  Luanda Ghana
2012  Bata Zambia
2012  Malabo Ivory Coast
2012  Libreville Gabon
2012  Franceville Ghana
2012  Bata Zambia
2012  Libreville Mali
2012  Malabo Ghana
2012  Libreville Zambia
2013  Port Elizabeth Ghana
2013  Durban South Africa
2013  Rustenburg Ivory Coast
2013  Nelspruit Burkina Faso
2013  Durban Mali
2013  Nelspruit Burkina Faso
2013  Port Elizabeth Mali
2013  Johannesburg Nigeria
2015  Bata Congo
2015  Bata Tunisia
2015  Malabo Ghana
2015  Malabo Ivory Coast
2015  Bata DR Congo
2015  Malabo Ghana
2015  Malabo DR Congo
2015  Bata Ivory Coast
2017  Libreville Gabon
2017  Libreville Burkina Faso
2017  Libreville Gabon
2017  Libreville Cameroon
2017  Libreville Cameroon
2017  Franceville Guinea-Bissau
2017  Franceville Algeria
2017  Franceville Tunisia
2017  Franceville Algeria
2017  Franceville Senegal
2017  Franceville Senegal
2017  Libreville Zimbabwe
2017  Oyem Ivory Coast
2017  Oyem DR Congo
2017  Oyem Ivory Coast
2017  Oyem Morocco
2017  Oyem Morocco
2017  Port-Gentil Togo
2017  Port-Gentil Ghana
2017  Port-Gentil Mali
2017  Port-Gentil Ghana
2017  Port-Gentil Egypt
2017  Port-Gentil Egypt
2017  Oyem Uganda
2017  Libreville Burkina Faso
2017  Franceville Senegal
2017  Oyem DR Congo
2017  Port-Gentil Egypt
2017  Libreville Burkina Faso
2017  Franceville Cameroon
2017  Port-Gentil Burkina Faso
2017  Libreville Egypt
2019  Cairo Egypt
2019  Cairo DR Congo
2019  Cairo Uganda
2019  Cairo Egypt
2019  Cairo Uganda
2019  Cairo Zimbabwe
2019  Alexandria Nigeria
2019  Alexandria Guinea
2019  Alexandria Nigeria
2019  Alexandria Madagascar
2019  Alexandria Madagascar
2019  Cairo Burundi
2019  Cairo Senegal
2019  Cairo Algeria
2019  Cairo Senegal
2019  Cairo Kenya
2019  Cairo Kenya
2019  Cairo Tanzania
2019  Cairo Morocco
2019  Cairo Ivory Coast
2019  Cairo Morocco
2019  Cairo South Africa
2019  Cairo South Africa
2019  Cairo Namibia
2019  Suez Tunisia
2019  Suez Mali
2019  Suez Tunisia
2019  Suez Mauritania
2019  Suez Mauritania
2019  Ismailia Angola
2019  Ismailia Cameroon
2019  Ismailia Ghana
2019  Ismailia Cameroon
2019  Ismailia Benin
2019  Ismailia Benin
2019  Suez Guinea-Bissau
2019  Cairo Morocco
2019  Cairo Uganda
2019  Alexandria Nigeria
2019  Cairo Egypt
2019  Alexandria Madagascar
2019  Cairo Algeria
2019  Suez Mali
2019  Ismailia Ghana
2019  Cairo Senegal
2019  Cairo Nigeria
2019  Suez Ivory Coast
2019  Cairo Madagascar
2019  Cairo Senegal
2019  Cairo Algeria
2019  Cairo Tunisia
2019  Cairo Senegal

In [25]:
# Write a Pandas program to change the order of your DataFrame columns.
# Sort the columns of the DataFrame in alphabetical order
df6 = df.sort_index(axis=1)
# Print the updated DataFrame
print(df6)

     Attendance       AwayTeam  AwayTeamGoals       City  \
0       30000.0          Egypt            2.0   Khartoum
1           NaN   South Africa            NaN        NaN
2       30000.0       Ethiopia           10.0   Khartoum
3       30000.0       Ethiopia            0.0      Cairo
4       20000.0       Ethiopia            0.0      Cairo
..          ...            ...            ...        ...
617      7568.0        Tunisia            3.0      Cairo
618      9143.0        Tunisia            0.0      Cairo
619     49775.0        Nigeria            1.0      Cairo
620      6340.0        Nigeria            1.0      Cairo
621     75000.0        Algeria            1.0      Cairo

                         Date      HomeTeam  HomeTeamGoals  \
0                    10-Feb-57       Sudan             1.0
1                    10-Feb-57    Ethiopia             NaN
2                    16-Feb-57       Egypt             4.0
3                    22-May-59        Egypt            4.0
4                    25-May-59       Sudan             1.0
..                         ...          ...            ...
617  11 July 2019 (2019-07-11)  Madagascar             0.0
618  14 July 2019 (2019-07-14)     Senegal             1.0
619  14 July 2019 (2019-07-14)     Algeria             2.0
620  17 July 2019 (2019-07-17)     Tunisia             0.0
621  19 July 2019 (2019-07-19)     Senegal             0.0

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium                 Stage  Time   Year
0              Municipal Stadium            Semifinals    NaN  1957
1                            NaN            Semifinals    NaN  1957
2              Municipal Stadium                 Final    NaN  1957
3          Prince Farouk Stadium      Final Tournament    NaN  1959
4          Prince Farouk Stadium      Final Tournament    NaN  1959
..                           ...                   ...    ...   ...
617             Al Salam Stadium        Quarter-finals  21:00  2019
618              30 June Stadium           Semi-finals  18:00  2019
619  Cairo International Stadium           Semi-finals  21:00  2019
620             Al Salam Stadium  Third place play-off  21:00  2019
621  Cairo International Stadium                 Final  21:00  2019

[622 rows x 12 columns]

In [26]:
# Write a Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.
df = df[df['HomeTeamGoals'] != 0]
# Print the updated DataFrame
print(df)

     Year                      Date   Time       HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN        Sudan           Egypt
1    1957                  10-Feb-57    NaN     Ethiopia    South Africa
2    1957                  16-Feb-57    NaN        Egypt        Ethiopia
3    1959                  22-May-59    NaN         Egypt       Ethiopia
4    1959                  25-May-59    NaN        Sudan        Ethiopia
..    ...                        ...    ...           ...            ...
614  2019  10 July 2019 (2019-07-10)  18:00      Senegal           Benin
615  2019  10 July 2019 (2019-07-10)  21:00      Nigeria    South Africa
616  2019  11 July 2019 (2019-07-11)  18:00  Ivory Coast         Algeria
618  2019  14 July 2019 (2019-07-14)  18:00      Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00      Algeria         Nigeria

     HomeTeamGoals  AwayTeamGoals             Stage  \
0              1.0            2.0        Semifinals
1              NaN            NaN        Semifinals
2              4.0           10.0             Final
3              4.0            0.0  Final Tournament
4              1.0            0.0  Final Tournament
..             ...            ...               ...
614            1.0            0.0    Quarter-finals
615            2.0            1.0    Quarter-finals
616            1.0            1.0    Quarter-finals
618            1.0            0.0       Semi-finals
619            2.0            1.0       Semi-finals

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
614                                                NaN
615                                                NaN
616                      Algeria win on Penalities 3-4
618                              win after extra time
619                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
614              30 June Stadium      Cairo      5798.0
615  Cairo International Stadium      Cairo     48343.0
616                 Suez Stadium       Suez      8233.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0

[494 rows x 12 columns]